# Java
*.class
*.jar
*.war
*.ear
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# Node
node_modules/
dist/
.npm
.eslintcache

# Logs
*.log
logs/
eph-keys/
eph-data/
eph-run/

# Frontend
web-admin/node_modules/
web-admin/dist/
app-patient/node_modules/
app-patient/dist/
app-patient/unpackage/

# OS
.DS_Store
Thumbs.db

# MinIO
minio-data/

# Docker
*.pid
*.seed

# Trae
.trae/

# WeChat Mini Program
miniprogram_npm/
